/* Images centrées et responsives */
img {
  display: block;
  margin: 1em auto; /* espace au dessus et en dessous, centré */
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* coins arrondis */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* petite ombre */
}

/* Figures centrées et avec marge */
figure {
  display: block;
  text-align: center;
  margin: 2em 0;
}

.has-text-align-center {
  text-align: center !important;
}
